.my-navbar{
  background-color: #f4ae44;

}


.nav-signIn {
  width: 130px;
  height: 40px;
  font-family: 'Roboto';
  text-transform: uppercase;
  color: #fff;
  background: #3ACEB9;
  padding:14px;
  letter-spacing: 0.01em;
  
  font-size: 20px;
  font-weight: 400;
  line-height: 10px;
  border-radius: 25px;
  transition: all 0.5s linear;
  border: 0
}
.nav-signIn:hover {
  background-color: #55C3DE;
  border: white;
  color: white ;
}
#tt{
display: none;
}

@media screen and (max-width:768px){
  .nav-signIn{
    background-color: transparent;
    display: none;
  }
  #tt{
    display: inline;
  }
}










