.adminHomePage__navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #F6F5F5;
    height: 10vh;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color:#F6F5F5;
    overflow-x: hidden;

}
.nav__option > h2{
    margin-top: 4px ;
    font-size: 1.5rem;
}
.nav__option > h3 {
    margin-top: 24px;
}
.clock{
    font-size: 2rem;
     margin-top: 10px;
}

.nav__option > button{
    width: 100%;
    height: 40px;
    font-family: 'Roboto';
	text-transform: uppercase;
   	color: #fff;
	background: #3ACEB9;
	padding: 16px;
    letter-spacing: 0.01em;
	margin-top: 15px;
    margin-right: 10px;
	font-size: 15px;
	font-weight: 400;
    line-height: 10px;
    border-radius: 25px;
	transition: all 0.5s linear;
	border: none;
    outline: none;
}
.adminHomePage__container{
    display: flex;
}
.adminHomePage__sidbar{
    display: flex;
    flex-direction: column;
    width: 19%;
    /* height: 100%; */
    
    background: #3ACEB9;
    }
.adminHomePage__sidbar > .sidbar__item {
    justify-content: center;
    /* background-color: white; */
    margin-left: 50px;
    margin-top: 20%;
    width:100%;
    margin-left:0px;

}
.adminHomePage__sidbar > .sidbar__item > h3 {
  font-family: 'Roboto';
  margin-bottom: 10px;
  letter-spacing: 0.02em;
  color: #040941;
}
.adminHomePage__sidbar > .sidbar__item > h3:hover{
   color:white;
   font-weight: 800;
}
.adminHomePage__sidbar>.sidbar__item > dd{
    /* margin-top: 10px; */
    margin-left: 25px;
}
.adminHomePage__sidbar > .sidbar__item > dd >dl {
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.01em;
    color: #040941;
}
.body-container{
    margin-top: 10px;
}