.SingUp {
  display: flex;
  justify-content: center;
  font-family: Roboto;
  background-color: #e5e5e5;
}
.signUpdd_container {
  display: flex;
  height: calc(100vh - 100px);
  width: 60%;
  margin-top: 20px;
  background-color: black;
  border-radius: 10px;
}
