.signUp {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
  overflow: hidden;
}
#signUp-img {
  margin-top: 20%;
}
#signUp-title {
  margin-top: 12px;
  font-size: 2rem;
}
.input[type="date"] {
  color: #595959;
  font-size: 12px;
}

.gender {
  align-self: center;
}
.btn-primary {
  background-color: #ffffff;
  color: #595959;
  border: none;
  width: auto;
  width: 50%;
}
.btn-primary:hover {
  background-color: #3aceb84d;
  color: #5959596e;
}
.btn-primary:not(:disabled):not(.disabled).active {
  color: #595959;
  background-color: #10b39a;
  width: 50%;
}
.btn-radio {
  display: block;
  outline: none;
  border-radius: 2px;
  height: 40px;
  margin-bottom: 20px;
  border: 2px solid #3aceb9;
  box-sizing: border-box;
  border-radius: 10px;
}
@media screen and (max-width: 700px) {
  #signUp-title {
    font-size: 1rem;
    letter-spacing: 0.02rem;
  }
  #signUp-title {
    font-size: 2rem;
    letter-spacing: 0.02rem;
  }
  .signUp {
    overflow: scroll;
  }
}
