/* abonné home page style */
.homePageBody {
  padding: 20px;
  margin-top: 150px;
}
.homePageBody-TodayPub,
.homePageBody-Catégorie,
.homePageBody-ComingPub > h2 {
  margin-left: 10px;
}
.homePageBody-ComingPub,
.homePageBody-Catégorie {
  margin-top: 100px;
}
/* today pub style */
.pubCard-carousel {
  width: 100%;
}
.CatégorieCard-carousel {
  margin-top: 30px;
}

/* header style */
.abonné-Header {
  background-color: #f6f5f5;
}

.aboHeader-searsh {
  display: flex;
  border: 2px solid #44c9bb;
  height: 45px;
  border-radius: 10px;
}
.searshSelect {
  border-radius: 10px 0px 0px 10px;
  position: relative;
  background-color: white;
  border-right: 2px solid #aaa;
}
.searshSelect:after {
  content: ">";
  font: 25px "Consolas", monospace;
  color: #44c9bb;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  right: 8px;
  top: 5px;
  padding: 0 0 2px;
  border-bottom: 1px solid #ddd;
  position: absolute;
  pointer-events: none;
}
#dropdown-searshOption {
  background-color: transparent;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100px;
  height: 100%;
  display: inline-block;
  cursor: pointer;
  border-radius: 10px 0px 0px 10px;
}
.aboHeader-searsh > input {
  align-self: center;
  border: none;
  outline: none;
  height: 100%;
}
.aboHeader-searshIcon {
  background-color: white;
  border-radius: 0px 10px 10px 0px;
}
#searshIcon {
  width: 40px;
  height: 40px;
  margin-top: 2px;
}

.header-notifIcon {
  margin-right: 20px;
}
.header-chatIcon > #chatIcon {
  width: 40px;
  height: 45px;
  align-self: center;
  margin-top: 2px;
}
.header-notifIcon > #notifIcon {
  width: 40px;
  height: 45px;
  align-self: center;
  margin-top: 2px;
}

.userPicture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
#btnNotif-small-device,
#btnProfil-small-device,
#navbar-collapse-small-device,
#btnChat-small-device {
  display: none;
}

/* pub card Style */
.pubCard {
  width: 25rem;
  height: 15rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}
.pubCard > .pubCard-image {
  border-radius: 30px 30px 0px 0px;
  height: 70%;
  position: relative;
}
.pubCard-image > .pubCard-nbrParticipant,
.pubCard-horaire {
  width: 80px;
  height: 25px;
  background-color: #f6f5f5;
  border-radius: 20px;
  padding: 5px;
  color: #3aceb9;
  font-size: 11px;
  font-weight: 600;
  text-align: center;
  margin: 10px;
}
.pubCard-image > .pubCard-nbrParticipant {
  float: left;
  position: absolute;
  left: 0px;
}
.pubCard-horaire {
  float: right;
  position: absolute;
  right: 0px;
}

.pubCard-image > img {
  border-radius: 30px 30px 0px 0px;
  height: 100%;
  width: 100%;
}
.pubCard > .pubCard-info {
  display: flex;
  background-color: #f6f5f5;
  height: 30%;
  border-radius: 0px 0px 30px 30px;
}
.pubCard-info > .pubInfo-date {
  text-align: center;
  margin-left: 20px;
  margin-top: 8px;
}
.pubInfo-date > h4 {
  color: #f45728;
  font-size: large;
  margin-bottom: 0px;
}

.pubCard-info > .pubInfo-add {
  margin-left: 12px;
  margin-top: 5px;
}
.pubCard-info > .pubInfo-add > h4 {
  font-size: 20px;
  margin-bottom: 0px;
}
.pubCard-info > .pubInfo-add,
.pubInfo-date > p {
  font-size: 15px;
  color: #040941;
}
.pubInfo-add > span {
  display: flex;
}
.pubInfo-add > span > #pubLoc-icon {
  color: red;
  width: 15px;
}
/* catégorie card style */
.catégorieCard {
  width: 90px;
  height: 90px;
  border-radius: 25px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 5px;
}
.catégorieCard > img {
  width: 90px;
  height: 90px;
  border-radius: 10px;
  border-radius: 25px;
}

/* user activity organized/passed */
.userPubParticipated {
  display: flex;
  flex-direction: column;
}
.userPubOrganized__passedPub {
  width: 100%;
}
.comingPub-title {
  width: 218px;
  height: 54px;
  background: #f6f5f5;
  border-radius: 20px;
  background: #f6f5f5;
  text-align: center;
  margin-bottom: 30px;
  text-transform: uppercase;
}

@media screen and (max-width: 990px) {
  /* header medium device style */
  .header-notifIcon,
  .userPicture,
  .header-chatIcon {
    display: none;
  }
  #btnNotif-small-device,
  #btnProfil-small-device,
  #btnChat-small-device {
    display: inline;
  }
  .pubCard-phone {
    width: 100%;
  }
}

/* user visited profile style */

.abonnéVisitedProfile > .abonnéVisitedProfile-top {
  display: flex;
}

.abonnéVisitedProfile-top > .top-left {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.abonnéVisitedProfile-top > .top-left > img {
  width: 250px;
  height: 100%;
  border: 3px solid #3aceb9;
  box-sizing: border-box;
  border-radius: 10px;
}
.abonnéVisitedProfile-top > .top-middle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.abonnéVisitedProfile-top > .top-middle > .userProfile-info {
  display: flex;
  background-color: #f6f5f5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}
.top-middle > .userProfile-info > #user-name {
  margin-left: 10px;
  letter-spacing: 0.02rem;
}

.top-middle > .userProfile-info > #user-adresse {
  display: flex;
  margin-top: 10px;
  margin-left: 10%;
}
.userProfile-info > #user-adresse > #userLoc-icon {
  color: red;
}
.abonnéVisitedProfile-top > .top-middle > .userProfile-rank {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.top-middle > .userProfile-rank > #user-avis > h3 {
  letter-spacing: 0.02rem;
}
.top-middle > .userProfile-rank > #user-score,
#user-avis {
  text-align: center;
}
.top-middle > .userProfile-rank > #user-score > h3 {
  letter-spacing: 0.02rem;
}
.abonnéVisitedProfile-top > .top-middle > .userProfile-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-middle > .userProfile-action > #user-sendMessage > a {
  cursor: pointer;
}

.userProfile-action > #btn-follow {
  width: 100px;
  height: 45px;
  background: #3aceb9;
  border-radius: 10px;
  outline: none;
  border: none;
}
.top-middle > .userProfile-action > #user-report > a {
  cursor: pointer;
}
.abonnéVisitedProfile-top > .top-right {
  width: 100%;
  display: flex;
  justify-content: center;
}
.abonnéVisitedProfile-top > .top-right > .userProfile-note > #user-rate {
  width: 249px;
  height: 150px;
  background: #f6f5f5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  letter-spacing: 0.02rem;
  padding: 5px;
}
.abonnéVisitedProfile > .abonnéVisitedProfile-topSmallDevice {
  display: none;
}
.abonnéVisitedProfile > .abonnéVisitedProfile-middel {
  margin-top: 10px;
}
.abonnéVisitedProfile-middel > #user-interset {
  display: flex;

  background: #f6f5f5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}
#interest-card {
  width: fit-content;
  align-self: center;
  padding: 5px 2px 0px 2px;
  text-align: center;
  border-radius: 20px;
  margin: 10px;
  background: #fea041;
  color: #040941;
}
#interest-card > h4 {
  font-size: 18px;
  margin-bottom: 2px;
}
#interest-card > p {
  font-size: 20px;
}
.ab .abonnéVisitedProfile > .abonnéVisitedProfile-bottom {
  margin-top: 10px;
  padding-top: 10px;
}
@media screen and (max-width: 500px) {
  /* homePage small device style */
  .homePageBody {
    padding: 5px;
    margin-top: 150px;
  }
  .homePageBody-ComingPub,
  .homePageBody-Catégorie {
    margin-top: 50px;
  }

  /* header small device style */
  #navbar-collapse-lg-device {
    display: none;
  }
  #navbar-collapse-small-device {
    display: inline;
  }
  /* pubCard small device style */
  .pubCard-phone {
    width: 100%;
    height: 15rem;
    border-radius: 20px;
  }

  .pubCard-phone > .pubCard-image {
    border-radius: 20px 20px 0px 0px;
    height: 70%;
    position: relative;
  }
  .pubCard-image > img {
    border-radius: 20px 20px 0px 0px;
    height: 100%;
    width: 100%;
  }
  .comingPub-title {
    width: 150px;
    height: 40px;
    background: #f6f5f5;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 30px;
    padding: 4px;
    text-transform: uppercase;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .comingPub-title > h1 {
    font-size: 25px;
  }
  .pubCard-phone > .pubCard-info {
    border-radius: 0px 0px 20px 20px;
  }
  /* user visited profile style */
  .abonnéVisitedProfile > .abonnéVisitedProfile-top {
    display: none;
  }
  .abonnéVisitedProfile > .abonnéVisitedProfile-topSmallDevice {
    display: inline;
  }
  .abonnéVisitedProfile > .abonnéVisitedProfile-topSmallDevice > .top-left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .abonnéVisitedProfile
    > .abonnéVisitedProfile-topSmallDevice
    > .top-left
    > img {
    width: 150px;
    height: 150px;
    border: 3px solid #3aceb9;
    /* box-sizing: border-box; */
    border-radius: 50%;
  }
  .abonnéVisitedProfile > .abonnéVisitedProfile-topSmallDevice > .top-middle {
  }
  .abonnéVisitedProfile
    > .abonnéVisitedProfile-topSmallDevice
    > .top-middle
    > .userProfile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .abonnéVisitedProfile
    > .abonnéVisitedProfile-topSmallDevice
    > .top-middle
    > .userProfile-info
    > #user-adresse {
    margin-left: -7px;
    margin-top: -5px;
  }
  .abonnéVisitedProfile
    > .abonnéVisitedProfile-topSmallDevice
    > .top-middle
    > .userProfile-rank {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  .abonnéVisitedProfile
    > .abonnéVisitedProfile-topSmallDevice
    > .top-middle
    > .userProfile-rank
    > #user-avis,
  #user-score {
    border-radius: 10px;
    width: 90px;
    border: 2px solid #3aceb9;
    color: #040941;
  }
  .abonnéVisitedProfile
    > .abonnéVisitedProfile-topSmallDevice
    > .top-middle
    > .userProfile-action {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .abonnéVisitedProfile
    > .abonnéVisitedProfile-topSmallDevice
    > .top-middle
    > .userProfile-action
    > #user-sendMessage
    > a {
    font-size: 15px;
    font-weight: 600;
  }
  .abonnéVisitedProfile
    > .abonnéVisitedProfile-topSmallDevice
    > .top-middle
    > .userProfile-action
    > #btn-follow {
    width: 90px;
    height: 40px;
  }
  .abonnéVisitedProfile > .abonnéVisitedProfile-topSmallDevice > .top-right {
    margin-top: 20px;
  }
  .abonnéVisitedProfile
    > .abonnéVisitedProfile-topSmallDevice
    > .top-right
    > .userProfile-note
    > #user-rate {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  #interest-card {
    width: 100%;
    margin: 0px;
  }
  .abonnéVisitedProfile-middel > #user-interset {
    padding-top: 10px;
  }
  .abonnéVisitedProfile-bottom {
    margin-top: 20px;
  }
  .abonnéVisitedProfile-bottom > h2 {
    margin-bottom: 40px;
  }
}
