/*****************************/
/***abonné home page style***/
/***************************/
.addActivity-btn {
  background-color: #fea041;
  position: absolute;
  right: 0;
  top: 110px;
  margin-right: 40px;
  width: 140px;
  height: 40px;
  border-radius: 20px;
  outline: none;
  border: none;
  transition: all 0.5s linear;
  letter-spacing: 0.02rem;
  font-weight: 400;
  padding: 5px;
}
.addActivity-btn:hover {
  background-image: linear-gradient(to right, #fea041 0%, #f45728 100%);
  color: #040941;
}
#addbtn-small {
  display: none;
}
.homePageBody {
  padding: 20px;
  margin-top: 90px;
}
.homePageBody-TodayPub,
.homePageBody-Catégorie,
.homePageBody-ComingPub > h2 {
  margin-left: 10px;
}
.homePageBody-ComingPub,
.homePageBody-Catégorie {
  margin-top: 100px;
}
/*****************************/
/*****today pub style********/
/***************************/
.pubCard-carousel {
  width: 100%;
  margin-top: 40px;
}
.CatégorieCard-carousel {
  margin-top: 30px;
}
/*************************/
/******header style******/
/***********************/
.abonné-Header {
  background-color: #f6f5f5;
  display: flex;
  flex-grow: 2;
  justify-content: space-between;
}
.navbar-light .navbar-toggler {
  border: 2px solid #fea041;
}
.aboHeader-searsh {
  display: flex;
  border: 2px solid #fea041;
  height: 45px;
  border-radius: 10px;
  width: 50vw;
  align-self: center;
  position: relative;
}
.searshSelect {
  border-radius: 10px 0px 0px 10px;
  position: relative;
  background-color: white;
  border-right: 2px solid #aaa;
}
.searshSelect:after {
  content: ">";
  font: 25px "Consolas", monospace;
  color: #fea041;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  right: 8px;
  top: 5px;
  padding: 0 0 2px;
  border-bottom: 1px solid #ddd;
  position: absolute;
  pointer-events: none;
}
#dropdown-searshOption {
  background-color: transparent;
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100px;
  height: 100%;
  display: inline-block;
  cursor: pointer;
  border-radius: 10px 0px 0px 10px;
}
.aboHeader-searsh > input {
  align-self: center;
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
}
.aboHeader-searshIcon {
  background-color: white;
  border-radius: 0px 10px 10px 0px;
}
#searshIcon {
  width: 40px;
  height: 40px;
  margin-top: 2px;
}

.searsh-resault {
  position: absolute;
  width: 100%;
  top: 50px;
  -webkit-transition: height 1s ease;
  -moz-transition: height 1s ease;
  -o-transition: height 1s ease;
  -ms-transition: height 1s ease;
  transition: height 1s ease;
  background: black;
  border-radius: 10px;
}
.header-notifIcon {
  margin-right: 20px;
}
.header-chatIcon > #chatIcon {
  width: 40px;
  height: 45px;
  align-self: center;
  margin-top: 2px;
}
.header-notifIcon > #notifIcon {
  width: 40px;
  height: 45px;
  align-self: center;
  margin-top: 2px;
}

.userPicture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
#btnNotif-small-device,
#btnProfil-small-device,
#navbar-collapse-small-device,
#btnChat-small-device {
  display: none;
}
/**************************/
/*****pub card Style******/
/************************/
.pubCard {
  width: 25rem;
  height: 15rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
}
.pubCard > .pubCard-image {
  border-radius: 30px 30px 0px 0px;
  height: 70%;
  position: relative;
}
.pubCard-image > .pubCard-nbrParticipant,
.pubCard-horaire {
  width: 80px;
  height: 25px;
  background-color: #f6f5f5;
  border-radius: 20px;
  padding: 5px;
  color: #3aceb9;
  font-size: 11px;
  font-weight: 600;
  text-align: center;
  margin: 10px;
}
.pubCard-image > .pubCard-nbrParticipant {
  float: left;
  position: absolute;
  left: 0px;
}
.pubCard-horaire {
  float: right;
  position: absolute;
  right: 0px;
}

.pubCard-image > img {
  border-radius: 30px 30px 0px 0px;
  height: 100%;
  width: 100%;
}
.pubCard > .pubCard-info {
  display: flex;
  background-color: #f6f5f5;
  height: 30%;
  border-radius: 0px 0px 30px 30px;
}
.pubCard-info > .pubInfo-date {
  text-align: center;
  margin-left: 20px;
  margin-top: 8px;
}
.pubInfo-date > h4 {
  color: #f45728;
  font-size: large;
  margin-bottom: 0px;
}

.pubCard-info > .pubInfo-add {
  margin-left: 12px;
  margin-top: 5px;
}
.pubCard-info > .pubInfo-add > h4 {
  font-size: 20px;
  margin-bottom: 0px;
}
.pubCard-info > .pubInfo-add,
.pubInfo-date > p {
  font-size: 15px;
  color: #040941;
}
.pubInfo-add > span {
  display: flex;
}
.pubInfo-add > span > #pubLoc-icon {
  color: red;
  width: 15px;
}
/*************************/
/**catégorie card style**/
/***********************/
.catégorieCard {
  width: 90px;
  height: 90px;
  border-radius: 25px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 5px;
}
.catégorieCard > img {
  width: 90px;
  height: 90px;
  border-radius: 10px;
  border-radius: 25px;
}
/**********************************/
/**abonné activity organized/passed**/
/*********************************/
.userPubParticipated {
  display: flex;
  flex-direction: column;
}
.userPubOrganized__passedPub {
  width: 100%;
}
.comingPub-title {
  width: 218px;
  height: 54px;
  background: #f6f5f5;
  border-radius: 20px;
  background: #f6f5f5;
  text-align: center;
  margin-bottom: 30px;
  text-transform: uppercase;
}
/*******************************/
/**abonné visited profile style**/
/*****************************/
.abonnéVisitedProfile > .abonnéVisitedProfile-top {
  display: flex;
}

.abonnéVisitedProfile-top > .top-left {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.abonnéVisitedProfile-top > .top-left > img {
  width: 250px;
  height: 100%;
  border: 3px solid #3aceb9;
  box-sizing: border-box;
  border-radius: 10px;
}
.abonnéVisitedProfile-top > .top-middle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.abonnéVisitedProfile-top > .top-middle > .userProfile-info {
  display: flex;
  background-color: #f6f5f5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}
.top-middle > .userProfile-info > #user-name {
  margin-left: 10px;
  letter-spacing: 0.02rem;
}

.top-middle > .userProfile-info > #user-adresse {
  display: flex;
  margin-top: 10px;
  margin-left: 10%;
}
.userProfile-info > #user-adresse > #userLoc-icon {
  color: red;
}
.abonnéVisitedProfile-top > .top-middle > .userProfile-rank {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
.top-middle > .userProfile-rank > #user-avis > h3 {
  letter-spacing: 0.02rem;
}
.top-middle > .userProfile-rank > #user-score,
#user-avis {
  text-align: center;
}
.top-middle > .userProfile-rank > #user-score > h3 {
  letter-spacing: 0.02rem;
}
.abonnéVisitedProfile-top > .top-middle > .userProfile-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-middle > .userProfile-action > #user-sendMessage > a {
  cursor: pointer;
}

.userProfile-action > #btn-follow {
  width: 100px;
  height: 45px;
  background: #3aceb9;
  border-radius: 10px;
  outline: none;
  border: none;
}
.top-middle > .userProfile-action > #user-report > a {
  cursor: pointer;
}
.abonnéVisitedProfile-top > .top-right {
  width: 100%;
  display: flex;
  justify-content: center;
}
.abonnéVisitedProfile-top > .top-right > .userProfile-note > #user-rate {
  width: 249px;
  height: 150px;
  background: #f6f5f5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  letter-spacing: 0.02rem;
  padding: 5px;
}
.abonnéVisitedProfile > .abonnéVisitedProfile-topSmallDevice {
  display: none;
}
.abonnéVisitedProfile > .abonnéVisitedProfile-middel {
  margin-top: 40px;
}
.abonnéVisitedProfile-middel > #user-interset {
  display: flex;
  padding-top: 20px;
  background: #f6f5f5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.abonnéVisitedProfile > .abonnéVisitedProfile-bottom {
  margin-top: 40px;
  padding-top: 10px;
}
/************************************/
/*****add activity popUp Style******/
/**********************************/
.addActivityPopUp {
  width: 100%;
}
.addAct-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.addAct-form > h3 {
  margin-top: 10px;
  margin-bottom: 9px;
}
.addAct-form > .addAct-principalInfo {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.addAct-principalInfo > h3 {
  margin-top: 10px;
  margin-bottom: 9px;
}

.addAct-principalInfo > textarea {
  border-radius: 10px 10px 0px 0px;
  border: 2px solid #3aceb9;
  width: 100%;
  padding-left: 5px;
  outline: none;
}
.addAct-principalInfo > #ActStart-date {
  display: flex;
  border-top: none;
  border-bottom: none;
  border-left: 2px solid #3aceb9;
  border-right: 2px solid #3aceb9;
  height: 41px;
}
.addAct-principalInfo > #ActStart-date > span {
  margin-top: 7px;
  padding-left: 5px;
  padding-right: 5px;
  letter-spacing: 0.02rem;
  font-size: 18px;
}
.addAct-principalInfo > #ActStart-date > input[type="date"] {
  width: 50%;
  border: none;
  outline: none;
  border-left: 2px solid #3aceb9;
  padding-left: 5px;
}
.addAct-principalInfo > #ActStart-date > input[type="time"] {
  border: none;
  border-left: 2px solid #3aceb9;
}
.addAct-principalInfo > #ActEnd-date {
  display: flex;
  height: 41px;
  border-radius: 0px 0px 10px 10px;
  border: 2px solid #3aceb9;
}
.addAct-principalInfo > #ActEnd-date > span {
  margin-top: 7px;
  padding-left: 5px;
  padding-right: 5px;
  letter-spacing: 0.02rem;
  font-size: 18px;
}
.addAct-principalInfo > #ActEnd-date > input[type="date"] {
  width: 50%;
  margin-left: 27px;
  border: none;
  border-left: 2px solid #3aceb9;
  padding-left: 5px;
}
.addAct-principalInfo > #ActEnd-date > input[type="time"] {
  border: none;
  border-left: 2px solid #3aceb9;
  border-radius: 0px 0px 10px 0px;
}
.addAct-form > .addAct-NbrParticipant {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 46px;
  border-radius: 10px;
  border: 2px solid #3aceb9;
}
.addAct-NbrParticipant > .nbrParticipant-left {
  display: flex;
  margin-top: 5px;
  margin-left: 5px;
}
.addAct-NbrParticipant > .nbrParticipant-left > p {
  font-size: 20px;
  letter-spacing: 0.02rem;
}
.addAct-NbrParticipant > .nbrParticipant-left > #counter-result {
  width: 40px;
  height: 30px;
  text-align: center;
  margin-left: 6px;
  border-radius: 10px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.25);

  background-color: #f6f5f5;
}

.addAct-NbrParticipant > #nbrParticipant-counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid #3aceb9;
  height: fit-content;
  width: fit-content;
  margin-right: 20px;
  margin-top: 5px;
  border-radius: 10px;
}
#incrementBtn,
#decrementBtn {
  display: flex;
  justify-content: center;
  width: 40px;
  height: 30px;
  background-color: #f6f5f5;
  cursor: pointer;
}
#incrementBtn:hover {
  background-color: #fea041;
}
#decrementBtn:hover {
  background-color: #fea041;
}
#decrementBtn {
  border-left: 1px solid #3aceb9;
  border-radius: 0px 8px 8px 0px;
}
#incrementBtn {
  border-radius: 8px 0px 0px 8px;
}
.addAct-form > .addAct-category > .select {
  height: 41px;
  border: 2px solid #3aceb9;
  border-radius: 5px;
  margin-bottom: 15px;
  outline: none;
}

.addAct-form > .addAct-adress {
  display: flex;
  justify-content: space-between;
}
.addAct-form > .addAct-adress > input {
  width: 100%;
  height: 41px;
  border: 2px solid #3aceb9;
  border-right: none;
  border-radius: 5px 0px 0px 5px;
  margin-bottom: 15px;
  outline: none;
  padding-left: 5px;
}
.addAct-form > .addAct-adress > .addAct-adressMap {
  width: 70px;
  height: 41px;
  border-radius: 0px 5px 5px 0px;
  border: 2px solid #3aceb9;
  background-color: #f6f5f5;
}
.addAct-adressMap > #map-Icon {
  color: #f45728;
  width: 40px;
  height: 30px;
}
.addAct-form > .addAct-btn {
  width: 190px;
  height: 40px;
  background: #53d4c2;
  border-radius: 10px;
  outline: none;
  border: none;
  transition: all 0.5s linear;
  letter-spacing: 0.03rem;
  font-size: 20px;
  font-weight: 500;
  padding: 5px;
  align-self: center;
}

/*******************************************************/
/****************Abonné profile style******************/
/*****************************************************/
.profileAbonne {
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: space-around;
}
.AboneéSide-menuSmallDevice {
  display: none;
}
.AboneéSide-menu {
  width: 25%;
  height: 500px;
  background-color: #fea041;
  border-radius: 10px;

  margin: 20px;
}
.AboneéSide-menu > ul {
  list-style: none;
  margin-top: 50px;
}
.AboneéSide-menu > ul > li {
  font-weight: 400;
  line-height: 40px;
  font-size: 20px;
}
.AboneéSide-menu > ul > li:hover {
  color: white;
}
.profileAbonné-body {
  width: 70%;
  border-radius: 10px;
  border: 2px solid #a09d9d;
  margin: 20px;
}
/*******************************************************/
/***************Abonné info style**********************/
/*****************************************************/
.abonneInfo {
  display: flex;
  flex-direction: column;
  justify-items: start;
  justify-content: space-around;
  margin-left: 20px;
}
.imgProfil {
  display: flex;
  flex-direction: row;
  justify-items: start;
  justify-content: start;
}
.imgProfil > img {
  width: 200px;
  height: 200px;
  border: 2px solid rgb(95, 209, 212);
  border-radius: 10px;
  margin: 20px 20px 20px 0px;
  box-shadow: 4px 5px 8px rgba(0, 0, 0, 0.25);
}

.imgProfil > .btn_change {
  border: 2px solid #44c9bb;
  border-radius: 10px;
  background-color: white;
  color: #44c9bb;
  height: 30px;
  margin-top: 180px;
  text-transform: uppercase;
}
.imgProfil > .btn_change:hover {
  border: 2px #44c9bb;
  background-color: #44c9bb;
  height: 30px;
  margin-top: 180px;
  color: white;
  box-shadow: 4px 5px 8px rgba(0, 0, 0, 0.25);
}
.info {
  display: flex;
  flex-direction: column;
  justify-items: start;
}
.info_General > ul {
  border: 2px solid #44c9bb;
  list-style: none;
  padding: 5px;
  background-color: #f6f5f5;
  border-radius: 5px;
  margin: 5px;
  width: 300px;
}
.info_General > ul > li {
  padding: px;
  font-weight: 600;
  background-color: #f6f5f5;
  border-radius: 5px;
  margin: 5px;
  font-weight: 400;
  font-style: normal;
  line-height: 23px;
}

.description > textarea {
  border: 2px solid #44c9bb;
  background-color: #f6f5f5;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  width: 300px;
  font-weight: 400;
  font-style: normal;
  line-height: 23px;
}
.info > .gend > h4 {
  border: 2px solid #44c9bb;
  background-color: #f6f5f5;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  width: 300px;
  font-weight: 400;
  font-style: normal;
  line-height: 23px;
}
.mail > h4 {
  border: 2px solid #44c9bb;
  background-color: #f6f5f5;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
  width: 50%;
  font-weight: 400;
  font-style: normal;
  line-height: 23px;
}
/*******************************************************/
/***************Abonné Note style**********************/
/*****************************************************/
.abonneNote {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.abonneNote > .abonée-notes {
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: space-around;
  margin-top: 20px;
}

.abonne_avis > h4 {
  letter-spacing: 0.02rem;
  text-transform: uppercase;
  text-align: center;
}
.score_globale > h4 {
  letter-spacing: 0.02rem;
  text-transform: uppercase;
}
.score_globale > p {
  text-align: center;
  font-size: 15px;
  font-weight: 500;
}
.score_detail {
  margin: 0px 20px 0px 20px;
}
.score_detail > h2 {
  margin-bottom: 20px;
}
.score_detail > .container {
  padding-top: 20px;
  height: 30%;
  border-radius: 10px;
  background-color: #f6f5f5;
}
#category {
  border-radius: 5px;
  margin-bottom: 10px;
  background-image: linear-gradient(to right, #fea041 0%, #f45728 100%);
  text-align: center;
  transition: all 0.5s linear;
}
#category:hover {
  color: white;
  border: white;
  background-image: linear-gradient(to right, #f45728 0%, #fea041 100%);

  box-shadow: 4px 5px 8px rgba(0, 0, 0, 0.25);
}
.avis_detail {
  margin-top: 20px;
  margin-left: 20px;
}
.recived-note > #temp {
  margin: 40px 0px 20px 30px;
}
.recived-note {
  display: flex;
  flex-direction: row;
  justify-items: start;
  justify-content: start;
  border-radius: 10px;
  width: 80%;
  margin: 10px;
}
.recived-note:hover {
  box-shadow: 4px 5px 8px rgba(0, 0, 0, 0.25);
}
.recived-note > img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  margin: 10px;
  border: 2px solid #44c9bb;
}
.recived-note-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  justify-self: start;
  margin: 15px;
}

/*********************************************************/
/***********Abonné search parametre style****************/
/*******************************************************/
.searchParametre {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.searchParametre > h2 {
  text-align: center;
  text-transform: uppercase;
  margin: 40px 20px 20px 20px;
}
.slider {
  width: 70%;
  margin: 20px 20px 50px 20px;
}
.slider > .value {
  text-align: center;
  margin-top: 40px;
  font-weight: 600;
}

.rangeslider__fill {
  background-color: #ef8b25;
}
.rangeslider-horizontal .rangeslider__handle::after {
  background-color: #44c9bb;
}

.searchParametre > .btn-Distance {
  border: 2px solid #44c9bb;
  border-radius: 10px;
  background-color: #44c9bb;
  color: white;
  width: 150px;
  height: 40px;
  text-transform: uppercase;
}
.searchParametre > .btn-Distance:hover {
  border: 2px solid #44c9bb;
  background-color: white;
  color: #44c9bb;
}
/*********************************************************/
/***********Abonné centre of interest style**************/
/********************************************************/
.abonneIntert {
  margin: 20px;
}

.abonneIntert > h2 {
  margin-top: 20px;
}
.abonneIntert__bottom {
  margin-top: 40px;
  padding-left: 40px;
}
/*******************************************************/
/*************** medium device style*********************/
/******************************************************/
@media screen and (max-width: 1000px) {
  .addActivity-btn {
    top: 140px;
    margin-right: 30px;
  }
  /******************************************/
  /****header medium/small device style*****/
  /****************************************/
  .abonné-Header {
    display: flex;
    justify-content: space-between;
  }
  .header-notifIcon,
  .userPicture,
  .header-chatIcon {
    display: none;
  }
  #btnNotif-small-device,
  #btnProfil-small-device,
  #btnChat-small-device {
    display: inline;
  }
  .pubCard-phone {
    width: 100%;
  }
  #navbar-collapse-lg-device {
    display: none;
  }
  #navbar-collapse-small-device {
    display: block;
  }
  .aboHeader-searsh {
    width: 95vw;
  }
  /***********************************************/
  /**abonée visited profile medium device style**/
  /*********************************************/
  .abonnéVisitedProfile > .abonnéVisitedProfile-top {
    display: none;
  }
  .abonnéVisitedProfile > .abonnéVisitedProfile-topSmallDevice {
    display: inline;
  }
  .abonnéVisitedProfile > .abonnéVisitedProfile-topSmallDevice > .top-left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .abonnéVisitedProfile
    > .abonnéVisitedProfile-topSmallDevice
    > .top-left
    > img {
    width: 250px;
    height: 250px;
    border: 3px solid #3aceb9;
    border-radius: 50%;
  }

  .abonnéVisitedProfile
    > .abonnéVisitedProfile-topSmallDevice
    > .top-middle
    > .userProfile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .abonnéVisitedProfile
    > .abonnéVisitedProfile-topSmallDevice
    > .top-middle
    > .userProfile-info
    > #user-adresse {
    margin-left: -7px;
    margin-top: -5px;
  }
  .abonnéVisitedProfile
    > .abonnéVisitedProfile-topSmallDevice
    > .top-middle
    > .userProfile-rank {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  .abonnéVisitedProfile
    > .abonnéVisitedProfile-topSmallDevice
    > .top-middle
    > .userProfile-rank
    > #user-avis,
  #user-score {
    border-radius: 10px;
    width: 100px;
    border: 2px solid #3aceb9;
    color: #040941;
  }
  .abonnéVisitedProfile
    > .abonnéVisitedProfile-topSmallDevice
    > .top-middle
    > .userProfile-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .abonnéVisitedProfile
    > .abonnéVisitedProfile-topSmallDevice
    > .top-middle
    > .userProfile-action
    > #user-sendMessage
    > a {
    font-size: 20px;
    font-weight: 600;
  }
  .abonnéVisitedProfile
    > .abonnéVisitedProfile-topSmallDevice
    > .top-middle
    > .userProfile-action
    > #btn-follow {
    width: 100px;
    height: 50px;
  }
  .abonnéVisitedProfile > .abonnéVisitedProfile-topSmallDevice > .top-right {
    margin-top: 20px;
  }
  .abonnéVisitedProfile
    > .abonnéVisitedProfile-topSmallDevice
    > .top-right
    > .userProfile-note
    > #user-rate {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  #interest-card {
    width: 100%;
    margin: 0px;
  }
  .abonnéVisitedProfile-middel > #user-interset {
    padding-top: 10px;
  }
  .abonnéVisitedProfile-bottom {
    margin-top: 20px;
  }
  .abonnéVisitedProfile-bottom > h2 {
    margin-bottom: 40px;
  }

  /*******************************************************/
  /***************Abonné profile medium device style*******/
  /*****************************************************/
  .AboneéSide-menu {
    width: 40%;
  }
  .AboneéSide-menu > ul {
    margin-left: -5px;
  }
  .AboneéSide-menu > ul > li {
    margin-left: -25px;
  }
  /*********************************************************/
  /***********Abonné centre of interest medium device style**/
  /********************************************************/
  .abonneIntert__bottom {
    padding-left: 10px;
  }
}

/*******************************************************/
/*************** small device style********************/
/*****************************************************/
@media screen and (max-width: 600px) {
  /*****************************/
  /**home small device style***/
  /***************************/
  .addActivity-btn-small {
    display: inline;
    position: fixed;
    top: 570px;
    right: 0;
    margin-right: 20px;
    z-index: 999;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid #53d4c2;
    outline: none;
  }
  .addActivity-btn-small:hover {
    background-image: linear-gradient(to right, #55c3de 0%, #44c9bb 100%);
    color: #040941;
  }
  #addAct-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #44c9bb;
    padding-right: 8px;
  }
  #addAct-icon:hover {
    color: white;
  }

  .addActivity-btn {
    display: none;
  }
  #addbtn-small {
    display: block;
  }
  .homePageBody {
    padding: 0px;
    margin-top: 150px;
  }
  .homePageBody-ComingPub,
  .homePageBody-Catégorie {
    margin-top: 50px;
  }
  /********************************************/
  /**********header small device style********/
  /******************************************/
  #navbar-collapse-small-device {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    margin: 5px;
  }
  .aboHeader-searsh {
    width: 90vw;
  }
  /*******************************/
  /**pubCard small device style**/
  /*****************************/
  .pubCard-phone {
    width: 100%;
    height: 15rem;
    border-radius: 20px;
  }

  .pubCard-phone > .pubCard-image {
    border-radius: 20px 20px 0px 0px;
    height: 70%;
    position: relative;
  }
  .pubCard-image > img {
    border-radius: 20px 20px 0px 0px;
    height: 100%;
    width: 100%;
  }
  .comingPub-title {
    width: 150px;
    height: 40px;
    background: #f6f5f5;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 30px;
    padding: 4px;
    text-transform: uppercase;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .comingPub-title > h1 {
    font-size: 25px;
  }
  .pubCard-phone > .pubCard-info {
    border-radius: 0px 0px 20px 20px;
  }
  /********************************************/
  /**abonné visited profile small device style**/
  /******************************************/
  .abonnéVisitedProfile > .abonnéVisitedProfile-top {
    display: none;
  }
  .abonnéVisitedProfile > .abonnéVisitedProfile-topSmallDevice {
    display: inline;
  }
  .abonnéVisitedProfile > .abonnéVisitedProfile-topSmallDevice > .top-left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .abonnéVisitedProfile
    > .abonnéVisitedProfile-topSmallDevice
    > .top-left
    > img {
    width: 150px;
    height: 150px;
    border: 3px solid #3aceb9;
    border-radius: 50%;
  }

  .abonnéVisitedProfile
    > .abonnéVisitedProfile-topSmallDevice
    > .top-middle
    > .userProfile-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .abonnéVisitedProfile
    > .abonnéVisitedProfile-topSmallDevice
    > .top-middle
    > .userProfile-info
    > #user-adresse {
    margin-left: -7px;
    margin-top: -5px;
  }
  .abonnéVisitedProfile
    > .abonnéVisitedProfile-topSmallDevice
    > .top-middle
    > .userProfile-rank {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  .abonnéVisitedProfile
    > .abonnéVisitedProfile-topSmallDevice
    > .top-middle
    > .userProfile-rank
    > #user-avis,
  #user-score {
    border-radius: 10px;
    width: 90px;
    border: 2px solid #3aceb9;
    color: #040941;
  }
  .abonnéVisitedProfile
    > .abonnéVisitedProfile-topSmallDevice
    > .top-middle
    > .userProfile-action {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .abonnéVisitedProfile
    > .abonnéVisitedProfile-topSmallDevice
    > .top-middle
    > .userProfile-action
    > #user-sendMessage
    > a {
    font-size: 15px;
    font-weight: 600;
  }
  .abonnéVisitedProfile
    > .abonnéVisitedProfile-topSmallDevice
    > .top-middle
    > .userProfile-action
    > #btn-follow {
    width: 90px;
    height: 40px;
  }
  .abonnéVisitedProfile > .abonnéVisitedProfile-topSmallDevice > .top-right {
    margin-top: 20px;
  }
  .abonnéVisitedProfile
    > .abonnéVisitedProfile-topSmallDevice
    > .top-right
    > .userProfile-note
    > #user-rate {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  #interest-card {
    width: 100%;
    margin: 0px;
  }
  .abonnéVisitedProfile-middel > #user-interset {
    padding-top: 10px;
  }
  .abonnéVisitedProfile-bottom {
    margin-top: 20px;
  }
  .abonnéVisitedProfile-bottom > h2 {
    margin-bottom: 40px;
  }
  /*************************************************/
  /*****add activity popUp small device Style******/
  /***********************************************/
  .addAct-form > h3 {
    font-size: 20px;
  }
  .addAct-principalInfo > h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .addAct-principalInfo > #ActStart-date > span {
    font-size: 15px;
    font-weight: 500;
  }
  .addAct-principalInfo > #ActEnd-date > span {
    font-size: 15px;
    font-weight: 500;
    padding-right: 1px;
  }
  .addAct-NbrParticipant > .nbrParticipant-left > p {
    font-size: 15px;
    margin-top: 5px;
    font-weight: 500;
    letter-spacing: 0.02rem;
  }
  .addAct-NbrParticipant > .nbrParticipant-left > #counter-result {
    width: 30px;
    height: 30px;
    border-radius: 5px;
  }
  /*******************************************************/
  /**********Abonné profile small device style***********/
  /*****************************************************/
  .profileAbonne {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px;
    margin: 0px;
  }
  .AboneéSide-menu {
    display: none;
  }

  .AboneéSide-menuSmallDevice {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background-color: #f6f5f5;
    margin-bottom: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .AboneéSide-menuSmallDevice > span {
    font-weight: 500;
    line-height: 40px;
    font-size: 15px;
    letter-spacing: 0.02rem;
    cursor: pointer;
  }
  .AboneéSide-menuSmallDevice > span:hover {
    background-color: #fea041;
    color: white;
  }

  .profileAbonné-body {
    width: 100%;
    border: none;
    margin: 0px;
  }
  /*******************************************************/
  /***************Abonné info small device style*********/
  /*****************************************************/
  .abonneInfo {
    margin-left: 0px;
  }
  .imgProfil {
    flex-direction: column;
    justify-items: center;
  }
  .imgProfil > img {
    align-self: center;
    border-radius: 50%;
    margin: 20px 0px 20px 0px;
  }
  .imgProfil > .btn_change {
    align-self: center;
    margin-top: 0px;
  }
  .info {
    margin-top: 20px;
  }
  .info_General > h3 {
    margin-left: 5px;
    font-size: 25px;
  }
  .info_General > ul {
    width: 90%;
  }
  .description > h3 {
    margin-left: 5px;
    font-size: 25px;
    margin-top: 10px;
  }
  .description > textarea {
    width: 90%;
  }
  .gend > h3 {
    margin-left: 5px;
    margin-top: 10px;
    font-size: 25px;
  }
  .info > .gend > h4 {
    width: 90%;
  }
  .mail > h3 {
    margin-top: 10px;
    margin-left: 5px;
    font-size: 25px;
  }
  .mail > h4 {
    width: 90%;
  }
  /*******************************************************/
  /***************Abonné Note small device style*********/
  /*****************************************************/

  .abonne_avis > h4 {
    font-size: 20px;
  }
  .score_globale > h4 {
    font-size: 20px;
  }
  .score_detail {
    margin-left: 10px;
  }
  .score_detail > h2 {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .score_detail > .container {
    padding: 15px;
  }
  .avis_detail > h2 {
    font-size: 25px;
    margin-bottom: 20px;
  }
  .recived-note > #temp {
    margin: 30px 0px 20px 30px;
  }
  .recived-note > img {
    width: 60px;
    height: 60px;
  }
  .recived-note-container > h4 {
    font-size: 20px;
  }
  /*********************************************************/
  /***********Abonné centre of interest style**************/
  /********************************************************/
  .abonneIntert {
    margin: 0px;
    margin-top: 20px;
  }

  .abonneIntert > h2 {
    margin-top: 20px;
    margin-left: 5px;
    font-size: 25px;
  }

  .abonneIntert__bottom > .container {
    padding-left: -5px;
  }
  /*********************************************************/
  /***********Abonné search parametre small device style****/
  /*********************************************************/
  .searchParametre > h2 {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.03rem;
    margin-top: 40px;
  }
}
